#
# Copyright (c) 2019 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menuconfig SERVICE_INFO
	bool "nRF91 service information library"
	default y

if SERVICE_INFO
endif # MODEM_INFO
